[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
numpy = "*"
scikit-learn = "==1.0.2"

[dev-packages]
requests = "*"

[requires]
python_version = "3.9"
